<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
<stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value=""/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="false"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Java Application"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/studyPlanConverter/input/studyPlan.xmi"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/studyPlanConverter/output"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/studyPlanConverter/src/studyPlanConverter/main/Generate.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="studyPlanConverter.main.Generate"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;D:/School/2019 Fall/TDT4250-delivery/assignment3/studyPlanConverter/input/studyPlan.xmi&quot; &quot;D:/School/2019 Fall/TDT4250-delivery/assignment3/studyPlanConverter/output&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="studyPlanConverter"/>
</launchConfiguration>
