<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="bndtools.launch">
<booleanAttribute key="clean" value="true"/>
<booleanAttribute key="dynamicBundles" value="true"/>
<stringAttribute key="launchTarget" value="TDT4250-assignments/assignment2/conversion.servlet/launch.bndrun"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TDT4250-assignments"/>
</launchConfiguration>
